/* GERAL> */


/* responsividade */


/* corpo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    color: #c1c1c1;
    background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
}


/* menu */

nav {
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #45a7ef;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 15px;
}

nav a img {
    max-width: 150px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.menu {
    color: black;
}

.menu:hover {
    background-color: white;
    color: #45a7ef;
}

#carroca-icon {
    padding: 12px;
}


/* cabeçalho */

header {
    height: 60vh;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header bgimg {
    background-image: url(../img/celeiro.jpg);
    background-color: rgb(0, 0, 0);
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header titulos {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}

header p {
    margin-bottom: 2em;
}


/*=====SOBRE NOS=====*/

esquerda {
    justify-content: center;
    align-items: center;
}

esquerda h3 {
    justify-content: center;
    margin-left: 15%;
}

direita {
    justify-content: center;
    align-items: center;
}

direita h3 {
    justify-content: center;
    margin-right: 15%;
}

centro h3 {
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}


/*=========PARTE DA LOJA========*/

.cards {
    max-width: 100%;
    margin: 0 2%;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
}

.single {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #ccc;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.single img {
    max-width: 300px;
    height: 200px;
}

.single p {
    margin-bottom: 0!important;
    padding-top: 20px;
    padding-bottom: 20px;
}

button,
.menu {
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    background-color: #45a7ef;
    color: white;
    border: 2px solid #ffffff00;
    cursor: pointer;
}

.secoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 5px 5px 5px;
    background-color: #45a7ef;
    color: #ffffff;
}

.secoes #novos .single button {
    background-color: #efc245;
    color: #1e1e1e;
    border: 2px solid #f29100;
}

.secoes #novos .single button:hover {
    background-color: #f29100;
    border: 2px solid #efc245;
}

.secoes #aves .single button {
    background-color: #45ef75;
    color: #1e1e1e;
    border: 2px solid #4CAF50;
}

.secoes #aves .single button:hover {
    background-color: #4CAF50;
    border: 2px solid #45ef75;
}

.secoes #suinos .single button {
    background-color: #935ad3;
    color: #1e1e1e;
    border: 2px solid #7700ff;
}

.secoes #suinos .single button:hover {
    background-color: #7700ff;
    border: 2px solid #935ad3;
}

.secoes #bovinos .single button {
    background-color: #45a7ef;
    color: #1e1e1e;
    border: 2px solid #006aff;
}

.secoes #bovinos .single button:hover {
    background-color: #006aff;
    border: 2px solid #45a7ef;
}

#galinheiro {
    background-color: #efc245;
}

#chiqueiro {
    background-color: #45ef75;
}

#curral {
    background-color: #935ad3;
}

.secoes h2 {
    color: #ffffff;
}

.secoes h3 {
    color: white;
}

.secoes p {
    margin-bottom: 2.5em;
    max-width: 800px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #45a7ef;
    color: white;
}

@media only screen and (max-width: 768px) {
    /*nav*/
    nav {
        display: flex;
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        width: 70%;
    }
    /* cabeçalho */
    header {
        height: 60vh;
        justify-content: center;
        align-items: center;
    }
    header titulos {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 20px;
    }
    .cards {
        flex-direction: column;
    }
    .single {
        width: 100%;
    }
}


/* @media only screen and (max-device-width: 900px) { */


/*
    #novos {
        display: flex;
        flex-direction: column;
    }
 /*celeiro
 #celeiro {
    height: 600px;
    height: 60vh;
    justify-content: center;
    min-height: 250px;
}

/* /~ .menu { width:100%; } ~/ */


/* } */


/* .display-flex { */


/* width: 100%; */


/* height: 70px; */


/* display: flex; */


/* justify-content: space-evenly; */


/* align-items: center; */


/* } */


/* /~ <GERAL ~/ */


/* /~ HEADER> ~/ */


/* .header-class {} */


/* /~ <HEADER ~/ */


/* /~ TÍTULOS E TAMANHOS> ~/ */


/* .page-title .title, */


/* h1, */


/* h2, */


/* h3, */


/* h4, */


/* h5, */


/* h6 { */


/* color: #fff; */


/* font-weight: 700; */


/* line-height: 1.5em; */


/* text-transform: uppercase; */


/* } */


/* .page-title .title, */


/* h1 { */


/* font-size: 42px; */


/* } */


/* h2 { */


/* font-size: 35px; */


/* position: relative; */


/* padding-bottom: 10px; */


/* margin-bottom: 20px; */


/* letter-spacing: 0.1em; */


/* text-align: center; */


/* } */


/* h2::before { */


/* content: ''; */


/* position: absolute; */


/* bottom: 0; */


/* left: 50%; */


/* width: 140px; */


/* height: 2px; */


/* background-color: #45a7ef; */


/* transform: translate(-50%, 0); */


/* } */


/* h3 { */


/* font-size: 29px; */


/* } */


/* h4 { */


/* font-size: 24px; */


/* letter-spacing: 0.1em; */


/* } */


/* h5 { */


/* font-size: 20px; */


/* letter-spacing: 0.07em; */


/* } */


/* h6 { */


/* font-size: 17px; */


/* letter-spacing: 0.05em; */


/* } */


/* .subtitulo { */


/* max-width: 710px; */


/* margin: 0 auto 55px; */


/* text-align: center; */


/* } */


/* .titulo a { */


/* color: #fff; */


/* } */


/* .titulo a:hover { */


/* color: #45a7ef; */


/* } */


/* /~ <TÍTULOS E TAMANHOS ~/ */